{% extends "layout.html" %}
{% block extraheadtag %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.css" />
    <style>
  
    .jqplot-highlighter-tooltip{
        background-color:#fff;
        font-size:14px;
    }
    </style>        
{% endblock %}
{% block content %}
    <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                Vissual
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                    <span class="ribbon-button-alignment"> 
                        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                            <i class="fa fa-refresh"></i>
                        </span> 
                    </span>
                    <!-- breadcrumb -->
                    <ol class="breadcrumb" id="page-title">
                        <li></li><li></li><li></li>
                    </ol>
                </div>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 report-padding-ribbon">
                    <span class="report-date-hd">Date : </span>
                    <span class="report-date" id="page-title-date"></span>
                 </div> 
                <!-- end breadcrumb -->
            </div>
            <!-- END RIBBON -->
            
            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                    <section id="widget-grid" class="">

                    <!-- row -->
                    <div class="row">

                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <!-- Widget ID (each widget will need unique ID)-->
                            
                            <div class="jarviswidget jarviswidget-sortable" id="wid-id-4" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget" style="">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header class="appheader" role="heading">
                                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                                    <h2>Application</h2>

                                    <ul class="nav nav-tabs pull-right in" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Submit Your Application</span></a>
                                        </li>

                                        <li class="">
                                            <a data-toggle="tab" href="#s2"><i class="fa fa-file"></i> <span class="hidden-mobile hidden-tablet">Application Status</span></a>
                                        </li>
                                    </ul>

                                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                                <!-- widget div-->
                                <div class="no-padding" role="content">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">

                                        test
                                    </div>
                                    <!-- end widget edit box -->

                                    <div class="widget-body">
                                        <!-- content -->
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade padding-10 no-padding-bottom active in" id="s1">
                                                <div class="jarviswidget" id="wid-id-9" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                
                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"
                
                                -->
                                <header class='formheader' role="heading">
                                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                    <h2>Submit Application </h2>
                
                                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
                
                                <!-- widget div-->
                                <div role="content">
                
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                
                                    </div>
                                    <!-- end widget edit box -->
                
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                
                                        <form id="Detailform" class="smart-form">
                                            <header>
                                                Personal Details
                                            </header>
                
                                            <fieldset>
                                                
                                                <section>
                                                    <label class="label">Name</label>
                                                    <label class="input">
                                                        <input type="text" class="input-sm sName">
                                                    </label>
                                                </section>

                                                <section>
                                                        <label class="label">Email</label>
                                                        <label class="input">
                                                        <input type="email" class="input-sm sEmail">
                                                        </label>
                                                        </section>

                                                <section>
                                                    <label class="label">Age</label>
                                                    <label class="input">
                                                        <input type="text" maxlength='2' class="input-sm sAge">
                                                    </label>
                                                </section>
                                                
                                                <section>
                                                    <label class="label">City</label>
                                                    <label class="input">
                                                        <select class="form-control select-city-1">
                                                             
                                                        </select>
                                                    </label>
                                                </section>

                                                <section>
                                                    <label class="label">Gender</label>
                                                    <div class="inline-group">
                                                        <label class="radio">
                                                            <input type="radio" name="radio-inline-1" value="1" checked="checked">
                                                            <i></i>Male</label>
                                                        <label class="radio">
                                                            <input type="radio" value="0" name="radio-inline-1">
                                                            <i></i>Female</label>
                                                        
                                                    </div>
                                                </section>

                                                <section>
                                                    <label class="label">Select Course</label>
                                                    <div class="inline-group">
                                                        <label class="radio">
                                                            <input type="radio" name="radio-inline-2" value="Engineering" checked="checked">
                                                            <i></i>Engineering</label>
                                                        <label class="radio">
                                                            <input type="radio" value="MBA" name="radio-inline-2">
                                                            <i></i>MBA</label>
                                                        <label class="radio">
                                                            <input type="radio" value="Pharmacy" name="radio-inline-2">
                                                            <i></i>Pharmacy</label>
                                                        
                                                    </div>
                                                
                                                </section>

                                                <section>
                                                    <label class="label">Cast</label>
                                                    <div class="inline-group">
                                                        <label class="radio">
                                                            <input type="radio" name="radio-inline-3" value="Open" checked="checked">
                                                            <i></i>Open</label>
                                                        <label class="radio">
                                                            <input type="radio" value="ST" name="radio-inline-3">
                                                            <i></i>ST</label>
                                                        <label class="radio">
                                                            <input type="radio" value="SC" name="radio-inline-3">
                                                            <i></i>SC</label>
                                                        
                                                    </div>
                                                </section>
                                            </fieldset>
                                            <header>
                                                Previous Education Details
                                            </header>
                                            <fieldset>
                                                <section>
                                                    <label class="label">Previous School/college</label>
                                                    <label class="input">
                                                        <input type="text" class="input-sm sCollege">
                                                    </label>
                                                </section>

                                                <section>
                                                    <label class="label">Percentage(without % sign)</label>
                                                    <label class="input">
                                                        <input maxlength='5' type="text" class="input-sm sMarks">
                                                    </label>
                                                </section>

                                                <section>
                                                    <label class="label">University</label>
                                                    <label class="input">
                                                        <select class="form-control select-uni">
                                                             
                                                        </select>
                                                    </label>
                                                </section>

                                                <section>
                                                    <label class="label">City</label>
                                                    <label class="input">
                                                        <select class="form-control select-city-2">
                                                             
                                                        </select>
                                                    </label>
                                                </section>

                                                <section>
                                                    <label class="label">Passout Year</label>
                                                    <label class="input">
                                                        <select class="form-control select-passyear">
                                                             <option value = "2008">2008</option>
                                                             <option value = "2009">2009</option>
                                                             <option value = "2010">2010</option>
                                                             <option value = "2011">2011</option>
                                                             <option value = "2012">2012</option>
                                                             <option value = "2013">2013</option>
                                                             <option value = "2014">2014</option>

                                                        </select>
                                                    </label>
                                                </section>


                                                <section>
                                                    <label class="label">Gap</label>
                                                    <label class="input">
                                                        <select class="form-control select-gap">
                                                             <option value = "0">No Gaps</option>
                                                             <option value = "1">1 Year</option>
                                                             <option value = "2">2 Year</option>
                                                             <option value = "3">3 Year</option>
                                                             <option value = "4">4 Year</option>
                                                             

                                                        </select>
                                                    </label>
                                                </section>

                                            </fieldset>
                                        
                                            <footer>
                                                <span class='form-error text-danger hidden'>*please enter valid data</span>
                                                <span class='form-success text-success hidden'>*Your application is successfully submitted <br>Your Application id is 
                                                    <label class="appid"></lable></span>
                                                <button type="button" class="btn btn-primary submit-app">
                                                    Submit
                                                </button>
                                            </footer>
                                        </form>
                
                                    </div>
                                    <!-- end widget content -->
                
                                </div>
                                <!-- end widget div -->
                
                            </div>

                                            </div>
                                            <!-- end s1 tab pane -->

                                            <div class="tab-pane fade" id="s2">
                                                <div class="widget-body-toolbar bg-color-white">

                                                    <form class="smart-form">
                                                    <header>
                                                        Enter Your Application id To Know Your Application Status
                                                    </header>

                                                    <fieldset>
                                                
                                                        <section>
                                                        <label class="label">Appid</label>
                                                        <label class="input">
                                                        <input type="email" class="input-sm seachId">
                                                        </label>
                                                        </section>

                                                    </fieldset>



                                                    <span class="appDetails hidden">
                                                        <header>
                                                            Application Details
                                                        </header>
                
                                                        <fieldset>
                                                
                                                        <section>
                                                            <label class="label">Name :
                                                                <span class="stuName">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Course:
                                                                <span class="stuCourse">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Email :
                                                                <span class="stuEmail">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Application id :
                                                                <span class="stuid">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Previous school/college :
                                                                <span class="stuCollege">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">University :
                                                                <span class="stuUni">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Your Merit Number :
                                                                <span class="stuMerit">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Cast :
                                                                <span class="stuCast">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Gender :
                                                                <span class="stuGender">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Passout Year :
                                                                <span class="stuPass">
                                                                Madhav
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        </fieldset>
                                                    </span>
                                                        
                
                                                    

                                                    <footer>
                                                        <span class='form-search-error text-danger hidden'>*please enter valid Application id</span>

                                                        <button type="button" class="btn btn-primary searchApp">
                                                        Submit
                                                        </button>
                                                    </footer>

                                                    </form>

                                                </div>
                                                
                                            </div>
                                            <!-- end s2 tab pane -->

                                        </div>

                                        <!-- end content -->
                                    </div>

                                </div>
                                <!-- end widget div -->
                            </div>
                            

                            

                            


                        </article>
                        <!-- WIDGET END -->

                    </div>

                    <!-- end row -->
                </section>
                    
            <!-- end widget grid -->
            </div><!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->
{% endblock %}

{% block extrascript %}
    <script src="/static/js/plugin/morris/raphael.min.js"></script>
    <script src="/static/js/plugin/morris/morris.min.js"></script>
    <script src="/static/js/submit.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="/static/js/plugin/jqplot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/static/js/plugin/jqplot/jquery.jqplot.min.js"></script>
    
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.highlighter.min.js"></script>
    <script type="text/javascript">
        $('#ribbon').empty();

    </script>
  
    {% include "handlebars/common_handlebar.html" %}
{% endblock %}