{% extends "layout.html" %}
{% block extraheadtag %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.css" />
    <style>
  
    .jqplot-highlighter-tooltip{
        background-color:#fff;
        font-size:14px;
    }
    </style>        
{% endblock %}
{% block content %}
    <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div id="ribbon">
                Vissual
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                    <span class="ribbon-button-alignment"> 
                        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                            <i class="fa fa-refresh"></i>
                        </span> 
                    </span>
                    <!-- breadcrumb -->
                    <ol class="breadcrumb" id="page-title">
                        <li></li><li></li><li></li>
                    </ol>
                </div>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 report-padding-ribbon">
                    <span class="report-date-hd">Date : </span>
                    <span class="report-date" id="page-title-date"></span>
                 </div> 
                <!-- end breadcrumb -->
            </div>
            <!-- END RIBBON -->
            
            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                    <section id="widget-grid" class="">

                    <!-- row -->
                    <div class="row">

                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2></h2>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <div id="agepiechart" class="chart d3pie"></div>

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->

                            </div>
                            <!-- end widget -->

                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2></h2>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <div id="coursepiechart" class="chart d3pie"></div>

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->

                            </div>
                            <!-- end widget -->

                            <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2></h2>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <div id="drawbar" class="chart d3bar"></div>

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->

                            </div>

                            <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2></h2>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <div id="drawcoursebar" class="chart d3bar"></div>

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->

                            </div>


                        </article>
                        <!-- WIDGET END -->

                    </div>

                    <!-- end row -->
                </section>
                    
            <!-- end widget grid -->
            </div><!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->
{% endblock %}

{% block extrascript %}
    <script src="/static/js/plugin/morris/raphael.min.js"></script>
    <script src="/static/js/plugin/morris/morris.min.js"></script>

    <!-- custoom js for writing custom js -->
    <script src="/static/js/custom.js"></script>

    
    <!--[if lt IE 9]><script type="text/javascript" src="/static/js/plugin/jqplot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/static/js/plugin/jqplot/jquery.jqplot.min.js"></script>
    
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.highlighter.min.js"></script>
    <script type="text/javascript">
        $('#ribbon').empty();

    </script>
  
    {% include "handlebars/common_handlebar.html" %}
{% endblock %}