/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 
 tr td.details-control {
    background: url("../img/details_open.png") no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url("../img/details_close.png") no-repeat center center;
    cursor: pointer;
}

td, th { text-align: center }

#pie_total{
	height:220px;
	
}
.report-date{
	
	color:white !important
}
.report-padding-ribbon{
	padding: 11px 34px 11px 0 !important;
	
}
.report-date-hd{
	color:#BBB!important;
}

#total-ribbon {
	min-height: 40px;
	background: #474544;
	padding: 0 13px;
	position: relative;
}
#report2-wid-1.jarviswidget, #report3-wid-3.jarviswidget,  #report2s-wid-4.jarviswidget, #report3s-wid-3.jarviswidget{
	margin-bottom : 0px;
} 

#report2-wid-4 header, #report3-wid-4 header, #report2s-wid-8 header, #report3s-wid-5 header{
	background-color: lightgray;
	border-color : lightgray !important;
	color: black;
}	


table.child-table {  
 
  background: whitesmoke !important;
  border-collapse: collapse;
  outline: 5px solid lightgray;
}

table.child-table th {  
	background: lightgray;

}
#report2-wid-1, #report2-wid-4,#report2-wid-2,#report2-wid-7, #report2-wid-visulization ,#report2-wid-5{
	width:70%
}



/******** Timeline *************/


.timeline {
    white-space:nowrap;
    padding:30px 0 10px 0;
    position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#13519C;
    color:#fff;
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid #06182E;
    border-radius:3px;
    margin-left: 10px;
    margin-right: 10px;
    width:80%
   
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #06182E;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    color:#fff;
    font-size:18px;
    font-family:Georgia, serif;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}
.width-85{
	width:85%
}
.width-70{
	width:70%
}
.width-75{
    width:75%
}
.width-50{
    width:50%
}
.white{
	color:#ffffff !important;
}
.report-back a{
	color:#ffffff !important;
}
#r1-viz-payments-due{
    width:95%
}
.yellow-background{
	background-color:yellow
}
.blackiconcolor
{
    color: green;
}
.dataTable thead>tr> th.back-frame
{
    background-color: orange;
     border-right: 3px solid black !important;

}
.dataTables_wrapper table tr th:last-child.back-frame
{
    border-right: 3px solid black !important;
}
.back-frame-child
{
 background: darkgray;

}


.dataTables_wrapper table tr td:first-child.back-left , .back-left
{
  border-left: 3px solid black !important; 
}

.dataTable thead>tr> th.parent-b , .dataTables_wrapper table tr th:last-child.parent-b , .dataTables_wrapper table tr th:first-child.parent-b , .dataTables_wrapper table tr th:last-child.parent-b ,.dataTables_wrapper table tr th:last-child.parent-b
{
    border-left: 3px solid black !important;
    /*background : 'lightgray' !important;*/
}


.expand-col-prevyear , .expand-col , .expand-col-list
{
    cursor: pointer;
}
.dataTables_wrapper table tr td:last-child.back-right , .dataTables_wrapper table tr th:last-child.back-right , .back-right , .dataTables_wrapper table tr th:last-child.back-right
{
     border-right: 3px solid black !important;
}


#r4-summary-barchart{
    overflow: scroll;
    white-space: nowrap;

}


#r4-summary-barchart svg{
 
  overflow: scroll !important;
}
#r4-recognition-previous-year-barchart , #r4-recognition-current-year-barchart ,#r4-recognition-next-year-barchart
{
    overflow: scroll !important;
       white-space: nowrap;
}
#widget-grid  #report5-wid-1
{
    margin-bottom: 0px !important;
}
.home-text
{
    color: brown;
font-family: verdana;
/* font-variant: small-caps; */
font-weight: bold;
}
#dv-cantain-year-selecttion
{
    float: right;
    width: 110px;
}
#r4-summary_wrapper div.dataTables_scroll div.dataTables_scrollHead ,
#r4-recognition-current-year_wrapper div.dataTables_scroll div.dataTables_scrollHead ,
#r4-recognition-previous-year_wrapper div.dataTables_scroll div.dataTables_scrollHead ,
#r4-recognition-next-year_wrapper div.dataTables_scroll div.dataTables_scrollHead ,
#r4-payments_wrapper div.dataTables_scroll div.dataTables_scrollHead
{
   
   /* overflow: 0 !important; */


}
.dataTables_scroll {
    clear: both;
}
 
.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}
#r5-summary_wrapper div.dt-toolbar-footer
{
    display: none;
}
#myModal .div-drag-header {
                cursor: move;
                background-color: #404040;
                color: white;
}
#myModal .div-drag-footer
{
    cursor: move;
}
#myModal .data-body-div table tr td
{
     text-align: left;
}
#myModal .data-body-div table tr td:first-child::after
{
  
    content: ': ';
    margin-right: 15px;

}
#myModal .data-body-div table tr td:first-child
{
      color: darkblue;
}
#myModal .data-body-div table tr td:last-child
{
    font-weight: bold;
}
#r5-cat1 , #r5-cat2 , #r5-cat3
{
    cursor: pointer;
}
#r5-summary_wrapper .dataTables_scroll  .dataTables_scrollBody
{
    overflow: hidden !important;
}
.d3pie{
    height:365px !important;
}
.d3pie svg{
    margin-left: 25%;
}

.d3bar{
    height: 365px !important;
} 

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
.header-text{
    color: white;
    font-weight: 400;
    padding-top: 7px;
}
.overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1050;
          background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.select-city-1 option{
  display: none;
}
.select-city-2 option{
  display: none;
}
.select-uni option{
  display: none;
}