{% verbatim %}
<script id="horizontal_timline" type="text/x-handlebars-template">
    <div class="timeline col-xs-3 col-md-3 col-sm-3 col-lg-3">
         <div id="{{ id }}" class="entry {{className}}">
            <h1>
                <span class="status">{{ status }}</span>
            </h1>
            <h3>
            <span class="date">{{ date }}</span>
            </h3>
            <span class="info">{{ comment }}</span>
        </div>
    </div>
</script>

{% verbatim %}
    <script id="tableInWidget" type="text/x-handlebars-template">
    <div class="row"><!-- row -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken {{widthX}}" id="{{widId}}" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2></h2> <!-- Widget title here -->
                </header>
                <!-- widget div-->
                <div>
                <!-- widget content -->
                    <div class="widget-body no-padding">
                        <table id="{{tableId}}" class="table table-striped  table-hover" width="100%">
                                <thead></thead>
                                <tbody></tbody>
                                <tfoot></tfoot>
                            </table>
                    </div><!-- end widget content -->
                </div><!-- end widget div -->
            </div><!-- end widget -->
        </article>
    </div>
</script>

<script id="divInWidget" type="text/x-handlebars-template">
    <div class="row"><!-- row -->
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken {{widthX}}" id="{{widId}}" data-widget-editbutton="false">
               <header>
                   <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                   <h2></h2> <!-- Widget title here -->
               </header>
                <!-- widget div-->
               <div>
                  <!-- widget content -->
                   <div class="widget-body no-padding">
                       <div id="{{divId}}"></div>
                   </div><!-- end widget content -->
               </div><!-- end widget div -->
           </div><!-- end widget -->
         </article>
     </div>
</script>



<script id="twoTableInRow" type="text/x-handlebars-template">
<div class="row">
   <article class="col-sm-6 col-md-6 col-lg-6">
    <div class="jarviswidget jarviswidget-color-darken" id="{{widLeft}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
               <table id="{{tableId1}}" class="table table-striped  table-hover" width="100%">
                   <thead></thead>
                   <tbody></tbody>
                   <tfoot></tfoot>
               </table>
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->
</article>
<article class="col-sm-6 col-md-6 col-lg-6">
    <div class="jarviswidget jarviswidget-color-darken" id="{{widRight}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
               <table id="{{tableId2}}" class="table table-striped  table-hover" width="100%">
                   <thead></thead>
                   <tbody></tbody>
                   <tfoot></tfoot>
               </table>
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->
 </article>
</div>                     
</script>


<script id="twoDivInRow" type="text/x-handlebars-template">
<div class="row">
   <article class="col-sm-8 col-md-8 col-lg-8">
    <div class="jarviswidget jarviswidget-color-darken" id="{{widLeft}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
               <div id="{{divId1}}"></div>
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->
</article>
<article class="col-sm-4 col-md-4 col-lg-4">
    <div class="jarviswidget jarviswidget-color-darken" id="{{widRight}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
               <div id="{{divId2}}"></div>
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->
 </article>
</div>                     
</script>

<script id="twoSameDivInRow" type="text/x-handlebars-template">
<div class="row">
   <article class="col-sm-6 col-md-6 col-lg-6">
    <div class="jarviswidget jarviswidget-color-darken" id="{{widLeft}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
               <div id="{{divId1}}"></div>
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->
</article>
<article class="col-sm-6 col-md-6 col-lg-6">
    <div class="jarviswidget jarviswidget-color-darken" id="{{widRight}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
               <div id="{{divId2}}"></div>
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->
 </article>
</div>                     
</script>

<script id="twoTableOneDivInTwoRow" type="text/x-handlebars-template">
<div class="row">
 <article class="col-sm-6 col-md-6 col-lg-6">
 
    <div class="jarviswidget jarviswidget-color-darken" id="{{widTop}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
               <table id="{{tableId1}}" class="table table-striped  table-hover" width="100%">
                   <thead></thead>
                   <tbody></tbody>
                   <tfoot></tfoot>

                <table id="{{tableId2}}" class="table table-striped  table-hover" width="100%">
                   <thead></thead>
                   <tbody></tbody>
                   <tfoot></tfoot>
               </table>

               </table>
              
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->

 </article>
 <article class="col-sm-6 col-md-6 col-lg-6">
    <div class="jarviswidget jarviswidget-color-darken" id="{{widId}}" data-widget-editbutton="false">
       <header>
           <span class="widget-icon"> <i class="fa fa-table"></i> </span>
           <h2></h2> <!-- Widget title here -->
       </header>
        <!-- widget div-->
       <div>
          <!-- widget content -->
           <div class="widget-body no-padding">
                 <div id="{{divId}}"></div>
                   
           </div><!-- end widget content -->
       </div><!-- end widget div -->
   </div><!-- end widget -->
 </article>
</div>  
</script>


<script id="oneTableOneDivInRow" type="text/x-handlebars-template">
 <div class="row"><!-- row -->
     <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="jarviswidget jarviswidget-color-darken {{widthX}}" id="{{widId}}" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2></h2> <!-- Widget title here -->
            </header>
            
            <!-- widget div-->
            <div>
                <!-- widget edit box 
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box 
                </div><!-- end widget edit box -->
            
                <!-- widget content -->
                <div class="widget-body no-padding">
                   <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7">
                        <table id="{{tableId}}" class="table table-striped  table-hover" width="100%">
                            <thead></thead>
                            <tbody></tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5" id="{{divId}}"></div>
                </div><!-- end widget content -->
            </div><!-- end widget div -->
        </div>
    </article>
</div>                      
</script>

<script id="script_post_load" type="text/x-handlebars-template">
    <script src="/static/js/smartwidgets/jarvis.widget.min.js"></script>
</script>

{% endverbatim %}

     

